<!--From: https://angular.io/guide/forms -->
<div class="container">
  <!--The container, form-group, form-control, and btn classes come from Twitter Bootstrap. -->
  <h1>User Form</h1>
  <form #heroForm="ngForm" (ngSubmit)="onSubmit()" action="https://formspree.io/brian@bweb.ie"
        method="POST">

    {{diagnostic}}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <!-- Each input element has an id property that is used by the label element's for attribute to match the label to its input control.
      Defining a name attribute is a requirement when using [(ngModel)] in combination with a form. Source:https://angular.io/guide/forms
          #name="ngModel" connects the Name field's state (e.g. clean / dirty) with the div below (e.g. that might display 'Name is required')-->
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input type="text" class="form-control" id="alterEgo"
             [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select class="form-control" id="power" required
              [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>

    <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button>

    <input type="submit" value="Send">
  </form>
</div>


<!--
Test:

<input type="text" (keyup)="onNameKeyUp($event)" name="email" />

<button (click)="getProfile()">Get Profile</button>


<div *ngIf="found">
  <span>{{name}}'s age is {{age}}</span>
</div>


////////////////

<br/>

<button (click)="postProfile()">Post Profile</button>
    -->

<div class="container">
 
      <iframe src="https://woodconcepts-form.netlify.com">
        <p>Your browser does not support iframes.</p>
      </iframe>
    
</div>

<!--
NEW NETLIFY INTEGRATED FORM:

  <form name="submitMeme" action="thanks.html" netlify>
    <p>
      <label>Name: <input type="text" name="name" size="40"></label>
    </p>
    <p>
      <label>Email: <input type="text" name="email" size="40"></label>
    </p>
    <p>
      <label>Meme URL: <input type="text" name="memeurl" size="40"></label>
    </p>
    <p>
      <button type="submit">Send</button>
    </p>
  </form>

NETLIFY TEST 2:
<form name="contact" method="POST" netlify>
  <p>
    <label>Your Name: <input type="text" name="name"></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email"></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
    -->


