
<div class="pageContainer" id="aboutPage">

  <div class="row">

    <div class="col-12 col-sm-12 col-md-12 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10 noPadding">

      <div class="row">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <h2>Hello From Wood Concepts</h2>
          <p>
            Wood Concepts is Ireland’s largest distributor of timber products. From builders’ grade to decking, softwood, scaffolding, hardwood, flooring, specialist fire retardant products and everything in between, we have been supplying the trade for over 30 years.
          </p>

          <p>
            Our products can be seen in commercial buildings and homes as beautifully finished flooring, fencing and decking or behind the scenes as joists, roof truss and sub structures.
          </p>

          <p>
            We partner with some of the best timber manufacturers in the world to bring world leading brands to Ireland. But because we know timber and the trade inside and out, we have also developed our own branded products designed specifically to offer the best value and most reliable timber in the country.
          </p>
          <p>
            We are constantly looking for new products to bring to the market so we maintain our reputation as innovators. We anticipate the needs of our customers by keeping up to date with world trends and bringing labour saving and cost effective solutions to them.
          </p>


        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">

          <div class="aboutPageImage">
            <img src="../../assets/images/about/wood_concepts_truck.jpg" />
          </div>

          <p>
            At Wood Concepts we support sustainable timber development, we are a responsible purchaser and our products are certified.  We are also a member of the Timber Federation and Trada.
          </p>

          <p>
            If you are planning or specifying a project and would like to discuss any of our products please get in touch.
          </p>
        </div>
      </div><!--/row-->
    </div><!--outer Col-->

  </div><!--/outer row-->
</div><!--/pageContainer-->
