<div class="pageContainer">

  <div class="row">


    <div class="col-12 col-sm-12 col-md-12 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10 noPadding">

      <div class="row newsItem" *ngFor='let newsArticle of newsArticle'>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div *ngIf="newsArticle.fields.articleHeading">
              <h2>{{ newsArticle.fields.articleHeading }}</h2>
            </div>

            <div class="justifyText" *ngIf="newsArticle.fields.introText">
              <div Markdown>
                {{ newsArticle.fields.introText }}
              </div>
            </div>

            <br />

            <div *ngIf="newsArticle.fields.image1">
              <div class="newsArticleImage">
                <img [src]='newsArticle.fields.image1.fields.file.url'
                     [title]=''>
              </div>
              <br />
            </div>

          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">


            <div class="justifyText" *ngIf="newsArticle.fields.mainText">
              <div Markdown>
                {{ newsArticle.fields.mainText }}
              </div>
            </div>


            <div class="justifyText" *ngIf="newsArticle.fields.video1">
              <div class="videoContainer">
                <video controls [poster]="newsArticle.fields.video1.fields.file.url">
                  <source [src]="newsArticle.fields.video1.fields.file.url" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>

          </div>
 

      </div><!--/nested col-->
    </div><!--/nested row-->

  </div>
</div>


