

<div id="location1" class="location justify-content-center">
  
  <div class='row' id="contactPageAddress">
    <div class="col-12 col-sm-12 col-md-12 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10 noPadding">

      <h2 class="locationHeading">Dublin Office:</h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
          Wood Concepts <br />
          23 Town Centre Mall, Swords,<br />
          Co. Dublin, Ireland <br />
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
          Tel: 00353 (0) 1 840 83 88 <br />
          Fax: 00353 (0) 1 840 83 77 <br />
        </div>
      </div>
    </div>
  </div>


  <div class="locationMap">
    <a href="https://www.google.ie/maps/place/Wood+Concepts/@53.4579147,-6.2164737,15z/data=!4m5!3m4!1s0x486710efb51422c7:0x5b3e0ec3829be62c!8m2!3d53.457458!4d-6.220143">
      <img src="../../assets/images/wood_concepts_address_location.jpg" />
    </a>
  </div>

</div>


<div id="location2" class="location justify-content-center">

  <div class='row' id="contactPageAddress">

    <div class="col-12 col-sm-12 col-md-12 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10 noPadding">
      <h2 class="locationHeading">Distribution Warehouse, Ringaskiddy, Co. Cork:</h2>

      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
          Wood Concepts Warehouse<br />
          Deep Water Berth, Ringaskiddy, <br />
          Co. Cork, Ireland <br />
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3">
          Tel: 00353 (0) 21 437 01 30 <br />
          Fax: 00353 (0) 21 437 01 35 <br />
        </div>
      </div>
    </div>
</div>
  <div class="locationMap">
    <a href="https://www.google.ie/maps/place/Ringaskiddy,+Co.+Cork/@51.8323944,-8.327509,16.23z/data=!4m5!3m4!1s0x484483ee6d0e57f9:0xf8f264f21344aef!8m2!3d51.8268306!4d-8.3095799">
      <img src="../../assets/images/contact/wood_concepts_address_location_ringaskiddy.jpg" />
    </a>
  </div>
</div>

<br />

<div class="row justify-content-center no-gutters">

  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
    <h2 class="locationHeading">Contact Us</h2>
    <app-contact-form></app-contact-form>
  </div>
</div>
<!--
<div id="contactForm">

  <form #form="ngForm" method="POST" action="https://formspree.io/brian@bweb.ie">

    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <div class="form-group">
      <label for="exampleInputEmail1">Contact Number</label>
      <input name="text" placeholder="Your contact number"><br /><br />
    </div>

    Please state if you are a trade customer or end user: <br />
    <input type="checkbox" name="trade" value="Trade">Trade<br />
    <input type="checkbox" name="public" value="Public">End user<br />

    <textarea name="message" placeholder="Your message"></textarea>
    <input name="interest" placeholder="Product interested in">
    <button type="submit">Send</button>
  </form>


</div>-->
