<div class="row .no-gutters">

  <div class="col-0 col-sm-0 col-md-3 col-lg-3 col-xl-2 noPadding">
    <app-product-menu></app-product-menu>
  </div>

  <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-10 noPadding" id="test">




    <div id="productThumbnailsDiv">
      <div class="row no-gutters justify-content-center" id="productThumbnails">
        <div class="thumbnailCol col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 " *ngFor='let product of products'>
          <div *ngIf='products && products.length'>

            <div class="thumbnail">
              <img src="{{ product.fields.image[0].fields.file.url }}"
                   [title]='product.productName' [alt]='product.productName'>
            </div>

            <div class="productThumbnailText">
              test
              <div class="productNameAndDesc">
                <!--container class to group productName and productDescription to give them set heights-->
                <div class="productName">
                  <a [routerLink]="['/products', product.fields.slug]">
                    {{ product.fields.productName }}
                  </a>
                </div>

                <div class="productDescription">
                  {{ product.fields.productDescription }}
                  <br />

                </div>

              </div>

              <div class="moreLink">
                <a [routerLink]="['/products', product.fields.slug]">More</a>
                <i id="productsChevron" class="fa fa-lg fa-chevron-right" aria-hidden="true"></i>
              </div>
            </div>

            <!--
                  <div *ngIf="product.fields.slug=='eucalyptus-plywood' ">
                    <div class="productName">
                      <a [routerLink]="['/products', product.fields.slug]">
                        {{ product.fields.productName }}
                      </a>
                    </div>

                    <div class="productDescription">
                      {{ product.fields.productDescription }}
                      <br />
                    </div>
                  </div>

                -->
          </div>


        </div>

      </div>

    </div>
  </div>

</div>
