/*--------Vertical (left hand side) Menu -----------*/
a:visited {
 
}


.verticalMenu {
  background-color: #fcfcfc;

}


.menu {
  
}

.productCategory {
  /*border-bottom: 1px solid #d3d9e2;*/
}


.menuLevel1 {
  padding-top: .4em;
  padding-left: .6em;
  padding-bottom: .4em;
  font-size: 1.2em;
  color: white;
  letter-spacing: 2px;
  background-color: #499933;
  /*background-color: #d9dbdd; light grey
  background-color: #747a84;
  /*color: #6e7b91;*/
}

.menuLevel2 {
  font-size: 1.1em;
  margin-left: 1em;
  padding-top: .4em;
  font-weight: 500;
}

.menuLevel3 {
  margin-left: 2em;
  font-size:1em;
}



.product {
  padding-bottom: .4em;
}

#softwood { /*Change this to child elements */
  border-top: .5px solid lightgrey;
  border-bottom: .5px solid lightgrey;
}


#productsCol {

  line-height: 1.15px; /*if this is not added Bootstrap will make it 1.5*/
}

/*-------/Vertical (left hand side) Menu -----------*/
#mySidenav{

}


@media only screen and (max-width:767px) {
  .customSideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

    .customSideNav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 1.1em;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .customSideNav .mySidenavHeaderDiv {
      padding-left: 10px;
      color: white;
      font-size: 1.7em;
    }
    /* Position and style the close button (top right corner) */
    .customSideNav .closebtn {
      position: absolute;
      top: .5%;
      right: 25px;
      margin-left: 50px;
      color: white;
      background-color: #111;
      border: none;
    }
}

@media only screen and (min-width:768px) {
  .mySidenavHeaderDiv {
    display: none;
  }
}

.fa-times-thin:before {
  content: '\00d7';
}
