 <!-- contentful-product-list-by-sub-category1 works!

<div id="productThumbnailsDiv">
  <div class="row no-gutters justify-content-center" id="productThumbnails">
    <div class="thumbnailCol col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 " *ngFor='let product of products'>
      <div *ngIf='products && products.length'>
        <div *ngIf="product.fields.subCategory1.fields.slug">

          <div class="thumbnail">
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf='product'>




    <div class="col-12 col-sm-10 col-md-6 col-lg-6 col-xl-5">
     
      <div class="productImageTextBox">
        <div class="productName">
          {{ product.fields.productName }}
        </div>
        <div>{{ product.fields.productDescription }}</div>
      </div>
    </div>
    

    </div>


     below doesn't work

    <div *ngFor="let subCategory1 of subCategory1s">
      <div *ngIf="product.fields.subCategory1.fields.slug">
        has slug : {{product.fields.subCategory1.fields.slug}}
      </div>
    </div>

        -->
