<!--Move the below to it's own component-->
<div id="footer" class='row justify-content-center'>

  <div class="col-12 col-sm-6 col-md-8 col-lg-7 col-xl-8">

    <div class="row">

      <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
        <div class="productCat1Heading">Panel Products:</div>
        <ul>
          <li> Plywood</li>
          <li> &nbsp;- Hardwood</li>
          <li> &nbsp;- Softwood</li>
          <li> &nbsp;- Formwork</li>
          <li>I-Joists</li>
          <li>Durelisdek</li>
          <li>OSB</li>
        </ul>
      </div>

      <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
        <ul>
          <li class="productCat1Heading">Timber Products:</li>
          <li>KD Reg</li>
          <li>Treated</li>
          <li></li>
        </ul>
        <ul>
          <li class="productCat1Heading">Decking</li>
        </ul>
      </div>
    </div>

  </div>

  <div id="footerAddress" class="col-12 col-sm-6 col-md-4 col-lg-5 col-xl-3">
    <span class="productCat1Heading">Wood Concepts</span> <br />
    23 Town Centre Mall, <br />
    Swords, Co. Dublin, Ireland <br />
    Tel: 00353 (0) 1 840 83 88 <br />
    Fax: 00353 (0) 1 840 83 77 <br />


    <!-- <app-footer></app-footer>-->
  </div><!--/allContentUnderNavBar-->
</div>

