<!--Move the below to it's own component-->
<div id="footer" class='row justify-content-center'>

  <div class="col-12 col-sm-6 col-md-8 col-lg-7 col-xl-8">

    <div class="row">

      <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
        <ul>
          <li class="productCat1Heading">PANEL PRODUCTS :</li>
            <li> &nbsp; &nbsp; Plywood</li>
            <li> &nbsp; &nbsp; &nbsp; - Hardwood</li>
            <li> &nbsp; &nbsp; &nbsp; - Softwood</li>
            <li> &nbsp; &nbsp; &nbsp; - Formwork</li>
            <li> &nbsp; &nbsp; I-Joists</li>
            <li> &nbsp; &nbsp; Durelisdek</li>
            <li> &nbsp; &nbsp; OSB</li>
        </ul>
      </div>

      <div class="col-6 col-sm-5 col-md-4 col-lg-4 col-xl-3">
        <ul>
          <li class="productCat1Heading">DECKING</li>
        </ul>
        <ul>
          <li class="productCat1Heading">TIMBER PRODUCTS :</li>
          <li> &nbsp; &nbsp; KD Reg</li>
          <li> &nbsp; &nbsp; Treated</li>
          <li></li>
        </ul>

      </div>
    </div>

  </div>

  <div id="footerAddress" class="col-12 col-sm-6 col-md-4 col-lg-5 col-xl-4">

      <span class="productCat1Heading">Wood Concepts</span> <br />
      23 Town Centre Mall, <br />
      Swords, Co. Dublin, Ireland <br />
      Tel: 00353 (0) 1 840 83 88 <br />
      Fax: 00353 (0) 1 840 83 77 <br />
      K67 CF80 <br />
      Email: <span [innerHTML]="emailAddress"></span><br />

      <style>
        a {
          color: #e6f2ff;
        }
      </style>

      <br />
      <a [routerLink]="['/privacy-statement']">Privacy Statement</a>
      <!-- <app-footer></app-footer>-->
    </div><!--/allContentUnderNavBar-->
  </div>


