

.productDetailsPage {
  background-color: #ecf2f8;
  padding-top: 15px;
  padding-bottom: 15px;
}


#productDetailsRow {
  margin-bottom:20px;

}
.productImageTextBox {
  padding: 10px;
  background-color: #fcfcfc;
}

.productName {
  color: #3b5998;
  font-size: 1.4em;
  font-weight: 600;
  padding-bottom: 10px;
}



.productDetailsHeading {
  padding-top: .8em;
  font-weight: 600;
  font-size: 1.2em;
  color: #006747;
  border-top: 1px solid #C2CEDA;
  /*color: #6e7b91;*/
}

.productDetailsText {

  padding-top: .5em;
  padding-bottom: .5em;
  color: #444d54;
}

.productDetailsTextParagraph {
  padding-bottom: .8em;
  line-height: 1.8em;
}

ul {
  list-style-type: square;
  padding-left:10px;
}

article {
  background-color: #fcfcfc;
  padding: 1em;
}


.downloadLinks{
  padding-bottom: .8em;
}

/* Gallery */

.thumbnailRow {
  margin-left: -15px;
  margin-right: -15px;

}

.thumbnailsCol {

  padding-left:0px;
}

  .thumbnailsCol img {
    padding-bottom: 15px;
  }

   .imageThumbnails {
  }
  .imageThumbnails img {

  }
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }

  /* Style the images inside the grid */
  .column img {
    opacity: 0.8;
    cursor: pointer;
  }

    .column img:hover {
      opacity: 1;
    }

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}


/* ---  /* Gallery    ---- */
